In [123]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.preprocessing import StandardScaler

In [124]:
data = pd.read_csv('Manhattan12.csv')

In [126]:
data.head()

,Manhattan Rolling Sales File. All Sales From August 2012 - August 2013.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Sales File as of 08/30/2013 Coop Sales Files ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Neighborhood Name 09/06/13, Descriptive Data i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Building Class Category is based on Building C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APART\nMENT\nNUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE\nPRICE,SALE DATE
4,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$2,214,693",20/05/2013

### Showing the shape of the dataset

In [127]:
data.shape

(27399, 21)

In [128]:
# Remove Top 4 rows of description
df = data[4:-1]
df.columns = data.iloc[3]
df.reset_index(drop=True, inplace = True)

### Rename incorrectly formatted column names

In [130]:
# Removing ' ', '\n' 
updated_column_names = []
for column in df.columns:
    column = column.replace(" ", "_").replace("\n","")
    updated_column_names.append(column)
df.columns = updated_column_names

In [131]:
df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENTNUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALEPRICE', 'SALE_DATE'],
      dtype='object')

### Dropping the columns 'BOROUGH', 'EASE-MENT', 'APARTMENT NUMBER'

In [132]:
df = df.drop(['BOROUGH', 'EASE-MENT', 'APARTMENTNUMBER'], axis=1)

### For each numerical column, remove the , the 'dollar' for the sale price, and then convert them to numeric.

In [133]:
df.columns

Index(['NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY', 'TAX_CLASS_AT_PRESENT',
       'BLOCK', 'LOT', 'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALEPRICE', 'SALE_DATE'],
      dtype='object')

In [134]:
num_cols = ['BLOCK', 'LOT', 'ZIP_CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS',
            'TOTAL_UNITS', 'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
            'TAX_CLASS_AT_TIME_OF_SALE', 'SALEPRICE']
for column in num_cols:
    df[column] = df[column].replace('[\$,]', '', regex=True).astype(float)

In [135]:
df.head()

,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,TAX_CLASS_AT_PRESENT,BLOCK,LOT,BUILDING_CLASS_AT_PRESENT,ADDRESS,ZIP_CODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALEPRICE,SALE_DATE
0,,13 CONDOS - ELEVATOR APARTMENTS,,738.0,1306.0,,345 WEST 14TH STREET,10014.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,R4,2214693.0,20/05/2013
1,,13 CONDOS - ELEVATOR APARTMENTS,,738.0,1307.0,,345 WEST 14TH STREET,10014.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,R4,1654656.0,16/05/2013
2,,13 CONDOS - ELEVATOR APARTMENTS,,738.0,1308.0,,345 WEST 14TH STREET,10014.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,R4,1069162.0,23/05/2013
3,,13 CONDOS - ELEVATOR APARTMENTS,,738.0,1309.0,,345 WEST 14TH STREET,10014.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,R4,1374637.0,15/05/2013
4,,13 CONDOS - ELEVATOR APARTMENTS,,738.0,1310.0,,345 WEST 14TH STREET,10014.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,R4,1649565.0,13/05/2013

### Create list of categorical variables and another for the numerical variables

In [136]:
cat_list = list(df.select_dtypes(include=['object']).columns)
num_list = list(df.select_dtypes(include=['int', 'float']).columns)

In [137]:
cat_list

['NEIGHBORHOOD',
 'BUILDING_CLASS_CATEGORY',
 'TAX_CLASS_AT_PRESENT',
 'BUILDING_CLASS_AT_PRESENT',
 'ADDRESS',
 'BUILDING_CLASS_AT_TIME_OF_SALE',
 'SALE_DATE']

In [138]:
num_list

['BLOCK',
 'LOT',
 'ZIP_CODE',
 'RESIDENTIAL_UNITS',
 'COMMERCIAL_UNITS',
 'TOTAL_UNITS',
 'LAND_SQUARE_FEET',
 'GROSS_SQUARE_FEET',
 'YEAR_BUILT',
 'TAX_CLASS_AT_TIME_OF_SALE',
 'SALEPRICE']

### Convert SALE DATE to datetime datatype

In [139]:
df.SALE_DATE = pd.to_datetime(df['SALE_DATE'], format='%d/%m/%Y')

In [140]:
print(df['SALE_DATE'].dtype)

datetime64[ns]

In [141]:
df.describe()

,BLOCK,LOT,ZIP_CODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,SALEPRICE
count,27394.000000,27394.000000,27394.000000,27394.000000,27394.000000,27394.000000,27394.000000,2.739400e+04,27394.000000,27394.000000,2.739400e+04
mean,1109.627656,741.813390,10028.859969,1.766482,0.375009,2.289516,965.722750,9.572376e+03,1493.934803,2.488063,1.848068e+06
std,465.958098,819.427506,69.960650,14.911103,4.599669,15.748054,3865.844756,3.908348e+04,828.882131,0.891692,1.633257e+07
min,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,1.000000,0.000000e+00
25%,877.000000,37.000000,10016.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1900.000000,2.000000,0.000000e+00
50%,1047.000000,1007.000000,10019.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,1928.000000,2.000000,4.500000e+05
75%,1411.000000,1233.000000,10027.000000,1.000000,0.000000,1.000000,0.000000,0.000000e+00,1973.000000,4.000000,1.150000e+06
max,2250.000000,9117.000000,10463.000000,1328.000000,604.000000,1349.000000,213650.000000,1.970736e+06,2013.000000,4.000000,1.307965e+09

### For each categorical variable, remove the spaces, and then replace the empty string '' by NaN

In [142]:
df[cat_list] = df[cat_list].applymap(lambda x: x.strip() if isinstance(x, str) else x)
df[cat_list] = df[cat_list].replace('', np.nan)

### Replace the zeros in Prices, Land squares, etc. by NaN

In [143]:
df[num_cols] = df[num_cols].replace(0, np.nan)

In [144]:
df.head()

,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,TAX_CLASS_AT_PRESENT,BLOCK,LOT,BUILDING_CLASS_AT_PRESENT,ADDRESS,ZIP_CODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALEPRICE,SALE_DATE
0,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738.0,1306.0,NaN,345 WEST 14TH STREET,10014.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,R4,2214693.0,2013-05-20
1,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738.0,1307.0,NaN,345 WEST 14TH STREET,10014.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,R4,1654656.0,2013-05-16
2,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738.0,1308.0,NaN,345 WEST 14TH STREET,10014.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,R4,1069162.0,2013-05-23
3,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738.0,1309.0,NaN,345 WEST 14TH STREET,10014.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,R4,1374637.0,2013-05-15
4,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738.0,1310.0,NaN,345 WEST 14TH STREET,10014.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,R4,1649565.0,2013-05-13

In [145]:
df.isnull().sum()

NEIGHBORHOOD                         17
BUILDING_CLASS_CATEGORY            3454
TAX_CLASS_AT_PRESENT                143
BLOCK                                 0
LOT                                   0
BUILDING_CLASS_AT_PRESENT           143
ADDRESS                               0
ZIP_CODE                              1
RESIDENTIAL_UNITS                 16371
COMMERCIAL_UNITS                  23961
TOTAL_UNITS                        9703
LAND_SQUARE_FEET                  22906
GROSS_SQUARE_FEET                 23068
YEAR_BUILT                         6440
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALEPRICE                          7592
SALE_DATE                             0
dtype: int64

### Show a summary of all missing values as well as the summary statistics

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27394 entries, 0 to 27393
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   NEIGHBORHOOD                    27377 non-null  object
 1   BUILDING_CLASS_CATEGORY         23940 non-null  object
 2   TAX_CLASS_AT_PRESENT            27251 non-null  object
 3   BLOCK                           27394 non-null  float64
 4   LOT                             27394 non-null  float64
 5   BUILDING_CLASS_AT_PRESENT       27251 non-null  object
 6   ADDRESS                         27394 non-null  object
 7   ZIP_CODE                        27393 non-null  float64
 8   RESIDENTIAL_UNITS               11023 non-null  float64
 9   COMMERCIAL_UNITS                3433 non-null   float64
 10  TOTAL_UNITS                     17691 non-null  float64
 11  LAND_SQUARE_FEET                4488 non-null   float64
 12  GROSS_SQUARE_FEET               4326 non-null   float64
 13  YEAR_BUILT                      20954 non-null  float64
 14  TAX_CLASS_AT_TIME_OF_SALE       27394 non-null  float64
 15  BUILDING_CLASS_AT_TIME_OF_SALE  27394 non-null  object
 16  SALEPRICE                       19802 non-null  float64
 17  SALE_DATE                       27394 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), object(6)
memory usage: 3.8+ MB

In [147]:
df.describe()

,BLOCK,LOT,ZIP_CODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,SALEPRICE
count,27394.000000,27394.000000,27393.000000,11023.000000,3433.000000,17691.000000,4488.000000,4.326000e+03,20954.000000,27394.000000,1.980200e+04
mean,1109.627656,741.813390,10029.226080,4.390003,2.992426,3.545249,5894.609848,6.061620e+04,1953.080557,2.488063,2.556609e+06
std,465.958098,819.427506,34.967614,23.260831,12.689861,19.482767,7885.235711,8.111694e+04,37.692641,0.891692,1.916295e+07
min,7.000000,1.000000,10001.000000,1.000000,1.000000,1.000000,200.000000,2.530000e+02,1000.000000,1.000000,1.000000e+00
25%,877.000000,37.000000,10016.000000,1.000000,1.000000,1.000000,2107.750000,6.198500e+03,1920.000000,2.000000,3.676662e+05
50%,1047.000000,1007.000000,10019.000000,1.000000,2.000000,1.000000,5046.000000,2.337150e+04,1955.000000,2.000000,7.400000e+05
75%,1411.000000,1233.000000,10027.000000,1.000000,2.000000,1.000000,7532.000000,1.128500e+05,1987.000000,4.000000,1.627399e+06
max,2250.000000,9117.000000,10463.000000,1328.000000,604.000000,1349.000000,213650.000000,1.970736e+06,2013.000000,4.000000,1.307965e+09

### dropping duplicates

In [148]:
df.drop_duplicates(inplace=True)

In [149]:
df.shape

(25801, 18)

### dropping rows with NaN

In [150]:
df.dropna(inplace=True)

In [151]:
df.shape

(470, 18)

### identify and remove outliers if any and showing shape

In [152]:
z_scores = np.abs(stats.zscore(df.select_dtypes(include=np.number)))
df = df[(z_scores < 3).all(axis=1)]

In [153]:
df.shape

(428, 18)

### Consider the log of the prices and normalise the data

In [154]:
df['SALE PRICE'] = np.log(df['SALE PRICE'].astype('float64'))

KeyError: 'SALE PRICE'